.ce-custom-message-input{
  background-color: aliceblue!important;
  color:black!important;
}

.ce-custom-message-input::placeholder {
  color: black!important; /* Cambia "red" por el color que desees para el marcador de posición */
}

.ce-my-message-body.false{
  background-color: #2179CA;
}