.contenedorDatos{
  width:100%;
  height:auto;
  display:flex;
  background-color: #1d2f4c;;
  
}

.contenedorDatosIzq{

  width:70%;
}
.contenedorDatosIzq form{
  width: 100%;
  
}
.icono-camara {
  color: white; /* Cambiar el color del icono a blanco */
  cursor: pointer; /* Cambiar el cursor al puntero al pasar sobre el icono */
  display: flex; /* Hacer que el icono sea un contenedor flexible */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.contenedorDatosDer{
  width:30%;
  display: block;
}
.contenedorDatosIzq form button{
  margin-top: 5%;
  margin-left: 45%  ;
  margin-bottom:5% ;
}
.contenedorDatosIzq  input, select{

  border-radius: 5px!important;
}

.contenedorDatosIzq   select{
  width: 95%;
  height: 33px;
  border-radius: 5px!important;
}

.contenedorDatosIzq   option{
  height: 33px;
  border-radius: 4px;
}


 .contenedorDatosDer .img{
  width:80%;
  margin: auto;
  height:300px;
  background-image: url("/usauri.jpg");
  background-size:cover;
  background-position:center;
  margin-top:10%;
  position: relative;
  background-color: #000;
  border-radius: 100%;
}
.contenedorDatosDer img{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  border-radius: 100%;
}
.contenedorDatosDer .carga{
  margin-top: 60px;
}
.TitulosR{
  padding-top:3%;
  width:90%;
  height:auto;
  margin:auto;
  margin-bottom:2%;
  border-bottom: 1px solid #000;
}
.datosRegistrar{
  width:85%;
  margin:auto;
  
}
.datosRegistrar input{
  padding:1%;
  border:none;
  width:95%;
  border-radius:0px;
  border-bottom: 1px solid #000;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
  
}

.datosRegistrar label{
  display: block;
  text-align: left;
  margin-top:10px;
}
.datosRegistrar td{
  width:50%;
  border: none;
  padding:0px;
  
}

.BotonRegistrar{
  margin-left: 40px!important;
  background-color: #1d2f4c;
}