.ContenedorHistorial{
    width: 100%;
    height: auto;
    display: flex;
}

.ContenedorHistorialIzq, .ContenedorHistorialDer{
    width: 50%;
    height: auto;
    border:1px solid black;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.IzqInformacion, .IzqSignos{
    width: 90%;

    margin: auto;
    height: auto;
    border:1px solid white;
    box-shadow: 0 0 4px 1px rgb(98, 194, 201);
    border-radius: 15px;
    padding-bottom: 20px;
    margin-top:15px ;
    margin-bottom:15px ;

}
.autoTam{
    height: auto;
}
.maximo{
    width: 90%;
    margin: auto;
}
.medio{
    width: 50%;

}
.notasP{
    width: 90%;
    margin: auto;
    margin-top:10px;
    margin-bottom: 10px;
    height: 100px;
    background-color: rgb(213, 238, 124);
}
.fotoUsuario{
    width: 90%;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    align-content: center;
}
.icono{
    float: right;
}
.center{
    text-align: center;
    align-content: center;
}
.columnIco{
    width: 20%;
    height: 30px;
    align-content: center;  
}
.columnCont{
    width: 45%;
    text-align: start;
}

.tablaSignosVitales{
    width: 50%;
}
.iconoA{
    width: 10% !important;
    float: left;

}
.columnaAntecedentes{
    width: 90% !important;
}
.historialCom{
    padding: 1%;
    box-shadow:none;
    border: none;
    background-color: rgb(236, 205, 220);
    margin-bottom:10px ;
}

.tablaSin{
 
}
.tablaSin td{
  border: none;
  padding:0px;
}

.tablaSin tr{
  padding:none;
  margin:none;

}
.tablaSin ul{
  align-content:none;
  text-align:none;
  margin-left:10%;
}
