.custom-navbar{
  z-index: 1000;
  background-color: #3cb7dd!important;
}
.img_nav_logo{
  width: 150px;
}
.logo-container {
  order: -1; /* Mueve la imagen al extremo izquierdo */
}
.search-bar {
  width: 200px; /* Establece el ancho deseado para la barra de búsqueda */
}
/* Estilos para el SideNav */
.sidenav {
  display: block;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0;
  background-color: #3cb7dd; /* Celeste más oscuro */
  padding-top: 100px;
  color: white;
}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidenav i {
  margin-right: 10px;
}

/* Estilos para el contenido principal */
.content {
  display: flex;
}

.main {
  flex: 1;
  padding: 20px;
  margin-left: 200px; /* Ajustar al ancho del SideNav */
}

/* Estilos para los enlaces en el SideNav */
.sidenav a:hover {
  background-color: #7ec8f0; /* Cambio de color al pasar el ratón */
}