.custom-navbar{
  z-index: 1000;
  background-color: #061828 !important;
}
.img_nav_logo{
  width: 150px;
}
.logo-container {
  order: -1; /* Mueve la imagen al extremo izquierdo */
}
.search-bar{
  width: 200px; /* Establece el ancho deseado para la barra de búsqueda */
}

.search-bar p{
  color: white;
}
/* Estilos para el SideNav */
.sidenav {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0;
  background-color: #061828 !important ;
  padding-top: 100px;
  color: white;
}

.sidenav p{
  font-size: 10px;
  text-align: center;
}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidenav i {
  margin-right: 10px;
}

/* Estilos para el contenido principal */
.content {
  display: flex;
}

.main {
  flex: 1;
  padding: 20px;
  margin-left: 70px; /* Ajustar al ancho del SideNav */
  background-color:  #1d2f4c ;
  height: 631px;
}

/* Estilos para los enlaces en el SideNav */
.sidenav a:hover {
  background-color: 061828; /* Cambio de color al pasar el ratón */
}
.sidenav-link svg {
  margin-right: 8px; /* Ajusta el espacio entre el icono y el texto según tus preferencias */
  width: 100%;
  height: 30px;
  color:  white;
  transition: color 0.3s;
}

.sidenav-link svg:hover {
  margin-right: 8px; /* Ajusta el espacio entre el icono y el texto según tus preferencias */
  color:  #4f7bbf ;
  transform: scale(1.2); /* Hace un zoom al pasar el cursor sobre el icono */
}


.superior{
  height: 100%;
}

.inferior{
  height: 100%;
}

.iconSalir{
  margin-top: 190px;
}